<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YGO Sangria - YGO Card Scraper</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <style>
    .full_width.mdl-data-table {
      width: 100%
  }

  .title_width.mdl-data-table__cell {
    width: 30%;
}

.cell_width.mdl-data-table__cell {
    width: 17.5%;
}

.cell_width.mdl-data-table__cell--non-numeric {
    width: 17.5%;
}

.demo-card-square.mdl-card {
  width: 50%;
  height: 25px;

}
.demo-card-square > .mdl-card__title {
  height: 25px;
  color: #fff;
  background: #46B6AC;
}


</style>
</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--waterfall">
            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">YGO Sangria</span>

              <div class="mdl-layout__header-row">
                  <div class="mdl-layout-spacer"></div>
                  <!-- Navigation -->
                  <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="http://www.facetofacegames.com">Face to Face Games</a>
                    <a class="mdl-navigation__link" href="http://www.dollys.ca/">Dolly's Toys &amp; Games</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="page-content">

          <form action="/" method="POST">
            <i class="material-icons">search</i>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1" name="data">
                <label class="mdl-textfield__label" for="sample1">Enter a card name</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised">
  Search
</button>
        </form>
        
        <i class="material-icons">warning</i> Search is slow

        <h3>Searching for: {{ card_name }} </h3>

        <h3> Face to Face Games </h3>
        <table class="full_width mdl-data-table mdl-js-data-table mdl-shadow--2dp" width=50%>
          <thead>
            <tr>
              <th class="title_width mdl-data-table__cell--non-numeric">Name</th>
              <th class="cell_width mdl-data-table__cell--non-numeric">Set</th>
              <th class="cell_width mdl-data-table__cell--non-numeric">Condition</th>
              <th class="cell_width mdl-data-table__cell">Price</th>
              <th class="cell_width mdl-data-table__cell">Quantity</th>
          </tr>
      </thead>
      <tbody>
         {% for entry in f_list %}
         <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ entry[0] }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ entry[1] }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ entry[2] }}</td>
            <td>{{ "{0:.2f}".format(entry[3])  }}</td>
            <td>{{ entry[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Dolly's Toys &amp; Games</h3>
<table class="full_width mdl-data-table mdl-js-data-table mdl-shadow--2dp" width=50%>
  <thead>
    <tr>
      <th class="title_width mdl-data-table__cell--non-numeric">Name</th>
      <th class="cell_width mdl-data-table__cell--non-numeric">Set</th>
      <th class="cell_width mdl-data-table__cell--non-numeric">Condition</th>
      <th class="cell_width mdl-data-table__cell">Price</th>
      <th class="cell_width mdl-data-table__cell">Quantity</th>
  </tr>
</thead>
<tbody>
 {% for entry in d_list %}
 <tr>
    <td class="mdl-data-table__cell--non-numeric">{{ entry[0] }}</td>
    <td class="mdl-data-table__cell--non-numeric">{{ entry[1] }}</td>
    <td class="mdl-data-table__cell--non-numeric">{{ entry[2] }}</td>
    <td>{{ "{0:.2f}".format(entry[3]) }}</td>
    <td>{{ entry[4] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<p> Render: {{time}} seconds </p>
<a href="https://github.com/milktea02/ygo-sangria"><i class="fab fa-github fa-3x"></i></a>
</main>
</div>
</body>

</html>